<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>

<hr>
<h3>Low Blood Threshold (Number of Bags)</h3>
<input type="Number" ng-model="Threshold"><br>
<button class="btn btn-primary" (click)="updateThreshold($event)">Update Threshold</button>
<br>
<br>
<h2>Blood Expiring Today:</h2>

<button class="btn btn-success" (click)="disposeOfExpiringBlood($event)">Dispose Expiring Blood</button>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Blood ID</th>
      <th scope="col" sortable="name2" (sort)="onSort($event)">Blood Type</th>
      <th scope="col" sortable="area" (sort)="onSort($event)">Date Donated</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Location Acquired</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let blood of expiringBlood">
      <th scope="row">{{blood.bloodId}}</th>
      <td>
          {{blood.bloodType}}
      </td>
      <td>{{blood.dateDonated}}</td>
      <td>{{blood.locationAcquired}}</td>
    </tr>
    </tbody>
  </table>
<hr>
<h2>Low Inventory Blood Types:</h2>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Blood ID</th>
      <th scope="col" sortable="name2" (sort)="onSort($event)">Blood Type</th>
      <th scope="col" sortable="area" (sort)="onSort($event)">Date Donated</th>
      <th scope="col" sortable="population" (sort)="onSort($event)">Location Acquired</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let blood of lowLevelBlood">
      <th scope="row">{{blood.bloodId}}</th>
      <td>
          {{blood.bloodType}}
      </td>
      <td>{{blood.dateDonated}}</td>
      <td>{{blood.locationAcquired}}</td>
    </tr>
    </tbody>
  </table>
<hr>

<!-- <ul>
  <li *ngFor="let blood of lowLevelBlood">
    {{blood.destination}} | {{blood.amountRequired}} | {{blood.bloodType}} | {{blood.dateRequired}}
  </li>
</ul>

<hr> -->

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>