<h1>Request Blood Page</h1>
<form [formGroup]="RequestBloodForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="Location">To be Delivered To:</label>
        <select class="form-control" formControlName="destination">
	      <option>ABC Hospital</option>
	      <option>St George Hospital</option>
	      <option>Sydney Hospital</option>
	      <option>Melbourne Hospital</option>
	      <option>Westmead Hospital</option>
	      <option>Alice Springs Hospital</option>
	      <option>Epping Hospital</option>
	      <option>Prince Hospital</option>
	    </select>
    </div>
    <div class="form-group">
        <label>Number of Bags Required (1 Bag = 285 ml)</label>
        <input placeholder="Bags Required" type="number" formControlName="amountRequired" class="form-control"/>
        
    </div>

    <div class="form-group">
        <label for="BloodType">Select Blood Type</label>
	    <select class="form-control" formControlName="BloodType">
	      <option>A+</option>
	      <option>A-</option>
	      <option>B+</option>
	      <option>B-</option>
	      <option>AB+</option>
	      <option>AB-</option>
	      <option>O+</option>
	      <option>O-</option>
	    </select>
    </div>

    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-success">Add Blood Entry</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>

<label>Requests:</label>
<ul>
  <li *ngFor="let request of requests">
    {{request.destination}} | {{request.amountRequired}} | {{request.bloodType}} | {{request.dateRequired}}
  </li>
</ul>

<button class="btn btn-success" (click)="SubmitAll($event)">Submit Blood Requests</button>