<h1>Add Blood</h1>
<form [formGroup]="AddBloodForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Donor Name</label>
        <input placeholder="First Name, Last Name" type="text" formControlName="DonorName" class="form-control"/>
        
    </div>
    <div class="form-group">
        <label>Blood Id</label>
        <input placeholder="Blood Bag Id" type="text" formControlName="BloodId" class="form-control"/>
        
    </div>

    <div class="form-group">
        <label for="BloodType">Select Blood Type</label>
	    <select class="form-control" formControlName="BloodType">
	      <option>A+</option>
	      <option>A-</option>
	      <option>B+</option>
	      <option>B-</option>
	      <option>AB+</option>
	      <option>AB-</option>
	      <option>O+</option>
	      <option>O-</option>
	    </select>
    </div>
    <div class="form-group">
        <label for="BloodStatus">Blood Status</label>
	    <select class="form-control" formControlName="Status">
	      <option>Tested</option>
	      <option>Untested</option>
	    </select>
    </div>
    <div class="form-group">
        <label >Date Donated</label>
        <input type="Date" formControlName="DateDonated" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Location">Location</label>
        <input placeholder="Location" type="text" formControlName="Location" class="form-control"/>
        
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-success">Add Blood</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>